* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    line-height: 1.5;
    color: #191919;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

header {
    display: flex;
    align-items: baseline;
    padding-top: 10px;
    color: black;
    font-family: "Lato", sans-serif;
}

.header--title {
    margin-right: auto;
    font-size: 1.25em;
}

.header--nav-item {
    margin-left: 10px;
}

.header--nav-item:hover {
    transition: .5s;
    color: #007bff;
}

.hero-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-container--location {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.hero-container--location-pin {
    width: 22px;
}

.hero-container--location-address {
    margin-left: 7px;
    font-family: "Lato", sans-serif;
}

.hero-container--title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
    padding-top: 5px;
    font-family: "Lato", sans-serif;

}

.hero-container--tagline {
    margin-top: 5px;
    margin-bottom: 0;
    font-family: "Lato", sans-serif;
    font-size: 3em;
    background: linear-gradient(45deg, #007bff, #00d4ff);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      animation: shine 2s linear infinite;
    }


@keyframes shine {
    0% {
        background-position: -500%;
      }
      100% {
        background-position: 500%;
      }
    }

.hero-container--paragraph {
    margin: 0;
    padding-top: 32px;
    padding-bottom: 400px;
}

.about-container {
    background-color: black;
    color: whitesmoke;
}

.about-container--title {
    font-size: 2em;
    padding-top: 70px;
    padding-bottom: 16px;
    text-align: center;
}

.about-container--intro {
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
    padding: 0 5px;
    padding-bottom: 70px;
}

.about-container--subheader {
    font-weight: 700;
    font-size: 1.25em;
}

.about-container--title, .about-container--subheader {
    margin-bottom: 0 !important;
    font-family: "Lato";
}

.about-container--skills-item1 {
    display: grid;
    grid: auto/ auto auto auto auto;
    justify-content: space-around;
    padding: 2em 0;
}

.about-container--skills-item2  {
    display: grid;
    grid: auto/ auto auto auto;
    justify-content: space-around;
    gap: 2em;
    padding: 2em 0;
}

.about-container--skills-item1 img, .about-container--skills-item2 img {
    width: 40px;
}

.hero-container--content, .about-container--content {
    padding: 16px;
}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 1025px) {
    .header--nav-item {
        margin-left: 20px;
        padding: 20px;
    }

    .header--nav-item:hover {
        transition-delay: 1ms;
    }

    .hero-container {
        height: 100vh;
    }

    .hero-container--location {
        display: flex;
        align-items: center;
        margin-top: 150px;
    }

    .hero-container--content, .about-container--content {
        padding: 0 450px;
    }

    .hero-container--location-pin {
        width: 27px;
    }
    
    .hero-container--location-address {
        font-size: 1.3em;
    }

    .about-container--intro {
        padding: 0 150px;
        padding-bottom: 70px;
    }

    .about-container--skills-item1, .about-container--skills-item2 {
        padding: 4em 0;
    }

    .about-container--skills-item1 img {
        width: 80px;
    }

    .about-container--skills-item2 {
        gap: 4em;
    }

    .about-container--skills-item2 img {
        width: 70px;
}
}
