* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    line-height: 1.5;
    color: #2b2b2b
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

header {
    display: flex;
    align-items: baseline;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(45deg, #007bff, #00d4ff);
    padding: 0 16px;
    color: white;
}

.header--title {
    margin-right: auto;
    font-size: 1.25em;
    font-weight: 400;
}

.header--nav-item {
    margin-left: 15px;
    font-weight: 400;
}

.header--nav-item:hover {
    transition: .25s;
    color: #2b2b2b;
}

.hero-container {
    background: rgba(255, 255, 255, 0.7) url("images/shapes-background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    height: 100vh;
}

.hero-container--location {
    display: flex;
    padding-top: 1em;
    align-items: center;
}

.hero-container--location-pin {
    width: 20px;
    padding-bottom: 8px;
}

.hero-container--location-address {
    margin-left: 7px;
    font-family: "Roboto", sans-serif;
}

.hero-container--title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(45deg, #191919, #0077e6,
            #0088e6,
            #0099e6,
            #00aae6,
            #00bbe6,
            #00cce6,
            #191919);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    animation-delay: 4s;
    animation: title-shine 8s infinite;
}

.hero-container--tagline {
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 32px;
    font-family: "Poppins", sans-serif;
    font-size: 2.75em;
    line-height: 1.15;
    background: linear-gradient(45deg, #191919, #0077e6,
            #0088e6,
            #0099e6,
            #00aae6,
            #00bbe6,
            #00cce6,
            #191919);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    animation-delay: 4s;
    animation: tagline-shine 8s infinite;
}

@keyframes title-shine {
    0% {
        background-position: 200% 50%;
    }

    25% {
        background-position: 100% 50%;
        color: #191919;
    }

    50% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -100% 50%;
    }
}

@keyframes tagline-shine {
    0% {
        background-position: -200% 50%;
    }

    25% {
        background-position: -100% 50%;
        color: #191919;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


.hero-container--paragraph {
    margin: 0;
}

.about-container {
    background-color: black;
}

.about-container--content {
    color: lightgray;
}

.about-container--title {
    font-family: "Poppins";
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    background: linear-gradient(45deg, #0077e6, #0099e6, #00cce6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about-container--intro {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding-bottom: 4em;
}

.about-container--subheader {
    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

.about-container--title,
.about-container--subheader {
    margin-bottom: 0 !important;
}

.about-container--skills-item1 {
    display: grid;
    grid: auto/ auto auto auto auto;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 2em;
}

.about-container--skills-item2 {
    display: grid;
    grid: auto/ auto auto auto;
    justify-content: space-evenly;
    gap: 2em;
    padding: 0 3em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.about-container--skills-item3,
.about-container--skills-item4,
.about-container--skills-item5,
.about-container--skills-item6 {
    display: grid;
    grid: auto/ auto auto;
    justify-content: space-evenly;
    padding: 0 4em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.about-container--skills-item1 img,
.about-container--skills-item3 img,
.about-container--skills-item4 img,
.about-container--skills-item5 img,
.about-container--skills-item6 img {
    width: 60px;
}

.about-container--skills-item2 img {
    width: 50px;
}

.hero-container--content,
.about-container--content {
    padding: 16px;
}

.invert {
    filter: invert(80%);
}

@media screen and (min-width: 500px) {}

@media screen and (min-width: 1025px) {
    header {
        padding: 0 500px;
    }

    .header--nav-item {
        margin-left: 40px;
    }

    .hero-container--location {
        display: flex;
        align-items: center;
        padding-top: 75px;
        margin-top: 150px;
    }

    .hero-container--paragraph {
        line-height: 2;
    }
    
    .hero-container--content {
        padding: 16px 500px;
    }
    .about-container--content {
        padding: 16px 550px;
    }

    .about-container--content p {
        /* padding-right: 50px; */
    }

    .about-container--title {
        font-size: 3em;
    }

    .about-container--intro {
        padding: 0 50px;
        padding-bottom: 4em;
    }

    .about-container--skills-item1 {
        padding: 0 50px;
        padding-top: 2em;
        padding-bottom: 4em;
        justify-content: space-evenly;
    }

    .about-container--skills-item2 {
        padding: 0 16em;
        padding-top: 2em;
        padding-bottom: 4em;
        gap: 3em;
        justify-content: space-evenly;
    }

    .about-container--skills-item3,
    .about-container--skills-item4,
    .about-container--skills-item5,
    .about-container--skills-item6 {
        padding: 0 200px;
        padding-top: 2em;
        padding-bottom: 4em;
        justify-content: space-evenly;
    }

    .about-container--skills-item3-p,
    .about-container--skills-item4-p,
    .about-container--skills-item5-p,
    .about-container--skills-item6-p {
        text-align: center;
    }

    .about-container--skills-item1 img,
    .about-container--skills-item3 img,
    .about-container--skills-item4 img,
    .about-container--skills-item5 img,
    .about-container--skills-item6 img {
        width: 60px;
    }

    .about-container--skills-item2 img {
        width: 60px;
    }
}