* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    line-height: 1.5;
    color: #2b2b2b
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 0;
}

a:visited {
    color: inherit;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: .5rem 2rem;
    width: 100%;
    z-index: 1;
    opacity: 95%;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    background: #007bff;
    color: white;
}

.navbar a:visited {
    color: inherit;
}

.navbar--brand-title img {
    max-width: 7rem;
    padding-top: 5px;
}

.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navbar--links {
    display: none;
    width: 100%;
}

.navbar--links ul {
    flex-direction: column;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
}

.navbar--links li {
    list-style-type: none;
}

.navbar--links ul li {
    text-align: center;
}

.navbar--links ul li a {
    padding: 1rem;
}

.navbar--links.active {
    display: flex;
}

.navbar--links a {
    padding: 1rem;
    display: block;
}

.navbar--links li:hover {
    background-color: white;
}

.navbar--brand-title:hover,
.navbar--links li:hover {
    transition: 1ms;
    color: #2b2b2b;
}

.hero {
    background: rgba(255, 255, 255, 0.7) url("images/shapes-background2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    height: 100vh;
}

.hero--location {
    display: flex;
    padding-top: 4rem;
    align-items: center;
}

.hero--location-pin {
    width: 20px;
}

.hero--location-address {
    margin-left: 7px;
    font-family: "Roboto", sans-serif;
}

.hero--title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(
        45deg, 
        #191919 0%,
        #0077e6 29%,
        #00cce6 67%,
        #00cce6  100%
        );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title-shine 16s linear infinite;
    animation-delay: 4s;
    display: inline-block;
}

@keyframes title-shine {
    to {
        background-position: -200% center;
    }
}

.hero--tagline {
    margin-top: 0px;
    margin-bottom: 0;
    padding-bottom: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 2.75em;
    line-height: 1.15;
    background-image: linear-gradient(
        45deg, 
        #191919 0%,
        #0077e6 29%,
        #00cce6 67%,
        #00cce6  100%
        );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: tagline-shine 16s linear infinite;
    animation-delay: 4s;
    display: inline-block;
}

@keyframes tagline-shine {
    to {
      background-position: 200% center;
    }
  }

.hero--paragraph {
    margin: 0;
}

.about {
    background-color: black;
}

.about--content {
    color: lightgray;
}

.about--title {
    font-family: "Poppins";
    font-size: 3em;
    text-align: center;
    padding-top: 6rem;
    background: linear-gradient(45deg, #0077e6, #00cce6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.about--intro {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding-bottom: 4rem;
}

.about--subheader {
    font-weight: 700;
    font-size: 1.5em;
    color: white;
}

.about--title,
.about--subheader {
    margin: 0;
}

.about--subheader2 {
    font-weight: 700;
    font-size: 1.5em;
    color: white;
    margin: 0;
    padding-top: 1em;
}

.about--skills-item1 {
    display: grid;
    grid: auto/ auto auto auto auto;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 2em;
}

.about--skills-item2 {
    display: grid;
    grid: auto/ auto auto auto;
    justify-content: space-evenly;
    gap: 2em;
    padding: 0 3em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.about--skills-item3,
.about--skills-item4,
.about--skills-item5,
.about--skills-item6,
.about--skills-item7 {
    display: grid;
    grid: auto/ auto auto;
    justify-content: space-evenly;
    padding: 0 4em;
    padding-top: 1em;
    padding-bottom: 2em;
}

.about--skills-item7 {
    padding-bottom: 6rem;
}

.about--skills-item1 img,
.about--skills-item3 img,
.about--skills-item4 img,
.about--skills-item5 img,
.about--skills-item6 img,
.about--skills-item7 img {
    width: 60px;
}

.about--skills-item2 img {
    width: 50px;
}

.hero--content,
.about--content {
    padding: 2em;
}

.invert {
    filter: invert(80%);
}

.projects {
    padding-block: 2rem;
    padding-bottom: 4rem;
    background-color: #ededed;
}

.gallery--title {
    font-family: "Poppins";
    font-size: 3em;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 1rem;
    background: linear-gradient(110deg, #0077e6, #00cce6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.gallery img {
    display: grid;
    grid: auto/auto;
    width: 100%;
    padding-block: 2rem;
}

.gallery img:hover {
    cursor: pointer;
    animation-delay: 1ms;
    filter: brightness(80%);
}

footer {
    font-family: 'Source Sans Pro';
    font-size: .75em;
    font-weight: light;
    text-align: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #007bff;
    color: white;
}

.footer-icons {
    width: 23px;
    margin-right: 13px;
    filter: invert(100%);
}

.footer-icons:hover {
    filter: invert(15%);
}

@media screen and (min-width: 500px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .toggle-button {
        display: none;
    }

    .navbar--brand-title {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .navbar--links {
        display: flex;
    }

    .navbar--links ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        justify-content: flex-end;
    }

    .navbar--links li:hover {
        border-radius: 7px;
    }

    .gallery {
        display: grid;
        grid: auto / auto auto auto;
    }

    .gallery img {
        padding: 0 1rem
    }
}

@media screen and (min-width: 1025px) {
    .navbar {
        padding: 1rem 500px;
    }

    .navbar--brand-title img {
        max-width: 150px;
    }

    .hero--content {
        padding: 16px 550px;
    }

    .hero--title {
        font-size: 3em;
    }

    .hero--tagline {
        font-size: 6em;
    }

    .hero--location {
        display: flex;
        align-items: center;
        padding-top: 9rem;
    }

    .hero--paragraph {
        line-height: 2;
        padding-top: 2rem;
    }

    .hero p {
        font-size: 18px;
    }

    .about--content {
        padding: 1rem 550px;
    }

    .about--title,
    .gallery--title {
        font-size: 3em;
    }

    .about--subheader2 {
        font-weight: 700;
        font-size: 1.5em;
        color: white;
        text-align: center;
    }

    .about--intro {
        padding: 0 140px;
        padding-bottom: 6rem;
    }

    .about--skills-item1 {
        padding: 0 8em;
        padding-top: 2em;
        padding-bottom: 4em;
        justify-content: space-evenly;
    }

    .about--skills-item2 {
        padding: 0 16em;
        padding-top: 2em;
        padding-bottom: 4em;
        gap: 3em;
        justify-content: space-evenly;
    }

    .about--skills-item3,
    .about--skills-item4,
    .about--skills-item5,
    .about--skills-item6,
    .about--skills-item7 {
        padding: 0 15em;
        padding-top: 2em;
        padding-bottom: 4em;
        justify-content: space-evenly;
    }

    .about--skills-item7 {
        padding-bottom: 7rem;
    }

    .about--skills-item3-p,
    .about--skills-item4-p,
    .about--skills-item5-p,
    .about--skills-item6-p {
        text-align: center;
    }

    .about--skills-item1 img {
        width: 80px;
    }

    .about--skills-item2 img {
        width: 70px;
    }

    .about--skills-item3 img,
    .about--skills-item4 img,
    .about--skills-item5 img,
    .about--skills-item6 img {
        width: 70px;
    }

    .earned {
        text-align: center;
    }

    .projects {
        padding-inline: 200px;
        padding-block: 3rem;
        padding-bottom: 9rem;
    }

    .gallery {
        height: max-content;
    }
}